ul{
    list-style-type:none;
    background-color: #6c7475;
    padding: 0;
    box-shadow: 0 0 10px #06d5f0;
    border-radius: 10px;
    
}
ul li{display: inline-block;
    position: relative;
}
ul li a{
    color: white;
    padding:20px 25px;
    display:block;
    text-decoration: none;
    text-align:center;

    
}
ul li{
    display:inline-block;
    position:relative;
    text-align:center;
    text-decoration: none;
}
ul .dropdown{
    display:none;
    position:absolute;
}
ul li:hover ul.dropdown{
    display:block;
}
ul li a:hover{
    background-color: #000000;
    text-decoration:underline;
    
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.search-container input {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 60%;
    box-shadow: 0 0 10px #06d5f0;
    font-family: Khmer Busra;
}

.search-container button {
    padding: 10px;
    background-color: #6c7475;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0 0 10px #06d5f0;
    border-radius: 10px;
    font-family: Khmer Busra;
    
}

.search-container button:hover {
    background-color: #000000;
}
.listproduct.item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px black);
}

.listproduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listproduct.item{
    background-color: #eeeee6;
}
.team{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
    
}

.team h1 span{
    color: black;
    margin-left: 15px;
    font-family: mv boli;
    
}

.team h1 span::after{
    content: '';
    width: 150px;
    height: 2px;
    background: #6c7475;
    display: block;
    position: relative;
    bottom: 15px;
    
}

.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px #06d5f0;
    transition: 0.4s;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 380px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 45px;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: #3004cf;
    margin-bottom: 10px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
    margin: 5px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover{
    color: #6c7475;
    
    
}




footer{
    width: 100%;
    padding: 20px 0 0 10px;
    background: #6c7475;
    box-shadow: 0 0 10px #06d5f0;
  
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

footer .footer_main .footer_tag{
    text-align: center;
    color: #fff;
}

footer .footer_main .footer_tag h2{
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 30px;
    
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #14f741;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}





.menu{
    width: 1500px;
    margin: 0 auto;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: blue;
    margin-left: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifjs                           ;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #2809ee;
    display: block;
    position: relative;
    bottom: 10px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 400px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #06d5f0;
    border-radius: 10px;
}


.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    border-radius: 10px;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
    
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: red;
    cursor: pointer;
    text-shadow: 0 0 6px rgb(13, 139, 223);
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: rgb(61, 26, 235);
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: red;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: gold;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background: #767d78;
    padding: 8px 9px;
    margin: 0 80px ;
    transition: 0.3s;
    box-shadow: 0 0 10px #06d5f0;
    border-radius: 10px;
    
  
    
    
}
h1{
    color: #2809ee;
    font-family: Impact;
    font-size: 50px;
}
